<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/fav.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Emailcheck.css">
    <title>Email Confirmation</title>
</head>
<body>
      <div style="text-align: center;margin-top: 2%;">
        <img src="images/Cricket-Website-logo.jpg" alt="Cricket-website" width="240px" height="240px" style="border-radius: 50%;">
          <h1 style="color: red;">Please Check Your Email And Confirm It.</h1>
          <h3 style="color:rgb(60, 185, 216)">Then Login To Your Account.</h3>
      </div>

    <footer class="footer">
        <a href="Aboutus.html" class="aboutUs">AboutUs</a>
        <a href="privacyPolicy.html" class="privacyPolicy">PrivacyPolicy</a>
        <a href="developersInfo.html" class="developersInfo">DevelopersInfo</a>
        <p class="copyright">&copy;Copyright 2021</p>
    </footer>
</body>
</html>