<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/fav.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="login.css">
    <title>Login</title>
</head>
<body>
    <div class="login-box">
        <h1 class="headingL">Login</h1>
        <img src="images/Cricket-Website-logo.jpg" alt="Website-logo" class="image">
        <form action="userEntry" method="post" class="login-form">
            <input type="email" placeholder="Enter Email" name="Email" required>
            <input class="Password-box" type="password" name="Password" placeholder="Password" required>
            <p style="text-align: center;color: red;"><%=EnterPass%></p>
            <button class="btn" type="submit">Login</button>
        </form>
    </div>
    
    <footer class="footer">
        <a href="Aboutus.html" class="aboutUs">AboutUs</a>
        <a href="privacyPolicy.html" class="privacyPolicy">PrivacyPolicy</a>
        <a href="developersInfo.html" class="developersInfo">DevelopersInfo</a>
        <p class="copyright">&copy;Copyright 2021</p>
    </footer>
</body>
<script src="login.js"></script>
</html>